<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="card">
    <img class="bg-photo" src="./photo_final.jpg" alt="">
    <div class="gradient-overlay"></div>
    <div class="content">
      <img class="logo" src="../로고_더불어민주당/white.png" alt="더불어민주당">
      <h1 class="main-text">약자의 눈으로<br>해법을 모색했습니다</h1>
      <div class="info-row">
        <div class="info-text">
          <span>2026.03.19.(목)</span>
          <span>서울 광진구갑 국회의원</span>
        </div>
        <div class="signature">이정헌</div>
      </div>
    </div>
  </div>
</body>
</html>
