<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="card">
    <img class="bg-photo" src="./photo.jpg" alt="">
    <div class="dark-overlay"></div>
    <img class="cutout-photo" src="./photo_cutout.png" alt="">
    <div class="cutout-gradient"></div>

    <div class="top-banner">
      <span>전기통신사업법 일부개정법률안</span>
    </div>

    <div class="center-text">
      <h1>본회의통과</h1>
    </div>

    <div class="bottom-content">
      <div class="highlight-text">통신비 부담 낮추는 최적요금제</div>
      <div class="sub-text">저 이정헌이 해냈습니다.</div>
      <div class="info-row">
        <div class="info-text">
          <span>2026.03.12.(목)</span>
          <span>서울 광진구갑 국회의원</span>
        </div>
        <div class="signature">이정헌</div>
      </div>
    </div>
  </div>
</body>
</html>
